:host {
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
}
.comment {
  display: grid;
  grid-gap: 8px;
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__author {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: var(--light-transparent);
  }
  &__created-at{
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: var(--light-transparent);
  }
  &__text {
    font-weight: 500;
    font-size: 12px;
    line-height: 133%;
    color: var(--light-solid);
  }
}
