.profile-search-form {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 400px));
  grid-gap: 40px;
  padding: 16px 20px;
  border: 1px solid var(--light-solid);
  box-shadow: 4px 4px 0 0 rgba(255, 255, 255, 0.25);
  background: var(--dark-solid);
}
