<form class="profile-search-form" [formGroup]="searchForm">
    <label class="tt-form-label">
      <span class="tt-form-label__text">Имя</span>
      <input type="text" class="tt-form-input" formControlName="firstName" placeholder="Поиск">
      <svg class="tt-form-input__search-icon" icon="search"></svg>
    </label>
    <label class="tt-form-label">
      <span class="tt-form-label__text">Фамилия</span>
      <input type="text" class="tt-form-input" formControlName="lastName" placeholder="Поиск">
      <svg class="tt-form-input__search-icon" icon="search"></svg>
    </label>
  <label class="tt-form-label">
    <span class="tt-form-label__text">Город</span>
    <input type="text" class="tt-form-input" formControlName="city" placeholder="Поиск">
    <svg class="tt-form-input__search-icon" icon="search"></svg>
  </label>
    <label class="tt-form-label">
      <span class="tt-form-label__text">Навыки</span>
      <input type="text" class="tt-form-input" formControlName="stack" placeholder="Поиск">
      <svg class="tt-form-input__search-icon" icon="search"></svg>
    </label>
</form>
