<img src="assets/svg/logo.svg" alt="logo" class="sidebar-logo ml8 mb20" />

<nav class="sidebar-menu">
  <ul class="sidebar-menu__list list-reset">
    <li *ngFor="let menuItem of menuItems" class="sidebar-menu__item">
      <button class="sidebar-menu__btn" [routerLink]="[menuItem.link]">
        <svg icon="{{ menuItem.icon }}"></svg>
        <span>{{ menuItem.label }}</span>
      </button>
    </li>
  </ul>
</nav>

<p class="medium-text mb20">Подписчики</p>

@for(profile of subscribers$ | async; track profile.id){
<app-subscriber-card [profile]="profile"></app-subscriber-card>
}

<div class="mt20 to-subscribers">
  <a class="to-subscribers-link medium-text" [routerLink]="['/subscribers']"
    >Все подписчики</a
  >
  <svg class="to-subscribers-icon" icon="arrow"></svg>
</div>
