<img src="assets/svg/logo.svg" alt="logo" class="sidebar-logo ml8 mb20" />

<nav class="sidebar-menu">
  <ul class="sidebar-menu__list list-reset">
    <li class="sidebar-menu__item">
      <button class="sidebar-menu__btn">
        <svg icon="home"></svg>
        <span>Моя страница</span>
      </button>
    </li>
    <li class="sidebar-menu__item">
      <button class="sidebar-menu__btn">
        <svg icon="chats"></svg>
        <span>Чаты</span>
      </button>
    </li>
    <li class="sidebar-menu__item">
      <button class="sidebar-menu__btn">
        <svg icon="search"></svg>
        <span>Поиск</span>
      </button>
    </li>
  </ul>
</nav>
