:host {
  padding: 20px 12px;
  background: var(--dark-solid);
  position: relative;
}
.sidebar-menu{
  margin-bottom: 20px;
}

.sidebar-menu__list {
  display: grid;
  grid-gap: 8px;
}

.sidebar-menu__btn {
  display: flex;
  align-items: center;
  gap: 12px;
  width: 100%;
  padding: 8px 16px;
  border: none;
  border-radius: 2px;
  background: none;
  text-decoration: none;
  cursor: pointer;

  font-weight: 700;
  font-size: 14px;
  line-height: 171%;
  color: var(--light-solid);

  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out, background 0.3s ease-in-out;

  &.active,
  &:hover,
  &:focus-visible {
    background: var(--dark-active);
    color: var(--primary-primary);
  }

  &:focus-visible {
    outline: 1px solid var(--primary-primary);
  }
}

.sidebar-menu svg {
  width: 16px;
  height: 16px;
}

.to-subscribers {
  display: flex;
  gap: 10px;
  align-items: center;


}

.to-subscribers-link {
  color: var(--primary-primary);
  text-decoration: none;

  transition: outline 0.3s ease-in-out;


  &:focus-visible {
    border-radius: 2px;
    outline-offset: 2px;
    outline: 1px solid var(--primary-primary);
  }
}

.to-subscribers-icon {
  width: 6px;
  height: 10px;
}

.sidebar__footer {
  position: absolute;
  bottom: 20px;
  width: calc(100% - 20px);
  display: grid;
  align-items: center;
  grid-gap: 12px;
  grid-template-columns: 32px 1fr 16px;
  border-radius: 2px;
  padding: 4px 16px;
  background: var(--dark-active);

  img {
    width: 32px;
    height: 32px;
    border-radius: 100%;
  }
}

.profile__link {
  text-decoration: none;
  color: var(--light-solid);
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;


  &:focus-visible {
    border-radius: 2px;
    outline: 1px solid var(--primary-primary);
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-primary);
  }
}

.settings-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  text-decoration: none;
  color: var(--light-solid);
  cursor: pointer;
  transition: outline 0.3s ease-in-out, color 0.3s ease-in-out;


  &:focus-visible {
    border-radius: 2px;
    outline: 1px solid var(--primary-primary);
  }

  &:hover,
  &:focus-visible {
    color: var(--primary-primary);
  }

  svg {
    width: 14px;
    height: 14px;
  }
}
