:host {
  width: 100%;
  display: grid;
  grid-template-columns: 32px 1fr;
  grid-gap: 16px;
  padding: 24px 20px;
  border: none;
  border-bottom: 1px solid var(--light-solid);
  background: none;
  cursor: pointer;


  transition: outline 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    border-bottom: 1px solid transparent;
    outline: 1px solid var(--primary-hover);
    outline-offset: 0;
  }

  &:active {
    border-bottom: 1px solid var(--light-solid);
    outline: none;
    background-color: var(--dark-active);
    .last-message-wrapper__title,
    .last-message-wrapper__created-at {
      color: var(--primary-primary);
    }
  }
}

.last-message-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  font-weight: 500;
  font-size: 12px;
  line-height: 133%;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__title {
    color: var(--light-transparent);
  }

  &__created-at {
    color: var(--light-transparent);
  }

  &__body {
    display: flex;
    align-items: center;
    gap: 8px;
    justify-content: space-between;
  }

  &__message {
    color: var(--light-solid);
  }

  &__unread-messages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 26px;
    height: 18px;
    background: var(--primary-primary);
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    color: var(--dark-solid);
  }
}
