@if (me(); as profile) {
  <header class="profile-page__header mb24">
    <app-profile-header [profile]="profile"></app-profile-header>
    <a
      class="btn to-setting-btn"
      [routerLink]="['/settings']"
    >
      Редактировать
      <svg class="to-setting-icon" icon="settings"></svg>
    </a>
  </header>

  <main class="profile-page__body">
    <div class="col1">
      <app-post-feed></app-post-feed>
    </div>
    <div class="col2">
      <app-subscribers [profile]="profile"></app-subscribers>
      <app-tasks [profile]="profile"></app-tasks>
      <app-about-me [profile]="profile"></app-about-me>
    </div>
  </main>
}
