.profile-page__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-setting-btn {
  width: 174px;
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: outline 0.3s ease-in-out, transform 0.3s ease-in-out;

  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-hover);
  }

  &:active {
    transform: scale(0.98);
  }
}

.to-setting-icon {
  width: 16px;
  height: 16px;
  color: var(--dark-solid);
}

.profile-page__body {
  display: grid;
  grid-gap: 64px;
  grid-template-columns: 1fr 350px;
}
.col2 {
  display: grid;
  grid-gap: 32px;
}
.notification__alert {
  position: relative;
  right: -70px;
  width: 100px;
  height: 50px;
  background: #000;
  margin-top: 5px;
  transition: left .2s linear;
}
